.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding-top: 22px;

  &__logo {
    max-height: 64px;
    max-width: 64px;
  }

  &__link {
    margin-right: 15px;
  }

  &__button {
    margin-right: 15px;
  }
}
